@font-face {
    font-family: "BeVietnam";
    src: url("../../fonts/BeVietnam-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "BeVietnam";
    src: url("../../fonts/BeVietnam-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "BeVietnam";
    src: url("../../fonts/BeVietnam-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "BeVietnam";
    src: url("../../fonts/BeVietnam-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "BeVietnam";
    src: url("../../fonts/BeVietnam-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "BeVietnam";
    src: url("../../fonts/BeVietnam-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "BeVietnam";
    src: url("../../fonts/BeVietnam-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }