:root {
  --primary-theme: #254cec;
  --primary-secondary: #376ae8;
  --primary-binary: #4361ee;
  --dark: #302a3a;
  --pista: #7fbaaa;
  --skin: #eee8c5;
  --skin-dark: #c89891;
  --pink: #d26f95;
  --white: #ffffff;
  --black: #000000;
  --skin-light: #ffeeec;
  --offwhite: #f7f5e4;
  --brilliant-azure: #2c97f6;
  --mozart: #495480;
  --exquisite-turquoise: #0cd9c0;
  --joyful-orange: #fb9536;
  --beijing-blue: #3e7bac;
  --brilliant-white: #eef1ff;
  --flintstone: #677381;
  --stowaway: #7a8396;
  --red: #e54e4e;
  --christmas-silver: #e0e0e0;
  --gravel-fint: #bbbbbb;
  --cool-grey: #8893ac;
  --dropdown-option-mt: 30px;
  --sidebar-width: 308px;
  --sidebar-xy-spacing: 37px;
  --sidebar-icon-width: 37px;
  --sidebar-icon-collapsed-width: 25px;
  --admin-header: 90px;
  --admin-body-y: 36px;
  --admin-body-x: 36px;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    83.68deg,
    #a8c7e4 -5.66%,
    #d8ecff 14.35%,
    rgba(216, 237, 255, 0) 172.88%
  );
  margin: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

.container {
  max-width: 1740px;
  width: 100%;
  padding: 0 15px;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.text-black,
.service-billing-domain-inner-box .text-black {
  color: var(--black);
}
.text-white {
  color: var(--white);
}
.text-stowaway {
  color: var(--stowaway);
}
a:hover {
  color: var(--stowaway) !important;
}
.a-white-hover:hover {
  color: var(--white) !important;
}
.text-red {
  color: var(--red) !important;
}
.m-0 {
  margin: 0px !important;
}
.mt-0 {
  margin-top: 0;
}
.d-block {
  display: block;
}
.d-align {
  display: flex;
  align-items: center;
}
.d-align-justify {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-grid {
  display: grid;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.line-height-0 {
  line-height: 0;
}
.ms-auto {
  margin-left: auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.text-ellipsis-1 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-primary-theme {
  color: var(--primary-theme) !important;
}
.text-flintstone {
  color: var(--flintstone);
}
.ls-2 {
  letter-spacing: 2%;
}
.fs-15 {
  font-size: 15px;
}
.flex-0-auto {
  flex: 0 0 auto;
}
hr {
  border-top: 2px solid #ebeef0;
}
.exquisite-turquoise-bg {
  background-color: var(--exquisite-turquoise) !important;
}
.joyful-orange-bg {
  background-color: var(--joyful-orange) !important;
}
.small-text {
  font-size: 14px;
}
/* Font face start */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Bold.woff2") format("woff2"),
    url("../fonts/Outfit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Black.woff2") format("woff2"),
    url("../fonts/Outfit-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-SemiBold.woff2") format("woff2"),
    url("../fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Light.woff2") format("woff2"),
    url("../fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Medium.woff2") format("woff2"),
    url("../fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-ExtraLight.woff2") format("woff2"),
    url("../fonts/Outfit-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.woff2") format("woff2"),
    url("../fonts/Outfit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Thin.woff2") format("woff2"),
    url("../fonts/Outfit-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-ExtraBold.woff2") format("woff2"),
    url("../fonts/Outfit-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Font face end */

/* Font size start */
h3,
.h3 {
  font-size: 2.4rem;
}

/* Font size end */
/* .ms-4{
    margin-left: 15px;
} */
.gap-5 {
  grid-gap: 30px;
}
.gap-1 {
  grid-gap: 10px;
}
.gap-1half5 {
  grid-gap: 15px;
}
.gap-2 {
  grid-gap: 20px;
}
.label-text {
  cursor: pointer;
}
.d-flex,
.flex.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.ml-auto {
  margin-left: auto;
}
.justify-content-end {
  justify-content: end;
}
.w-100 {
  width: 100%;
}
.max-w-100 {
  max-width: 100% !important;
}
.position-relative {
  position: relative;
}
.cursor-pointer {
  cursor: pointer;
}
.form-group {
  margin-bottom: 20px;
}
.w-max-content,
.max.w-max-content {
  width: max-content;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .label-text,
.remember-forgot-pass-text a {
  position: relative;
  color: #02326c;
  font-size: 16px;
  font-weight: 500;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #6d748f;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checkmark::after {
  display: block;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #0766d6;
}

.custom-checkbox .checkmark::after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-wrap {
  display: flex;
  flex-direction: column;
  grid-gap: 22px 0;
}

.custom-radio-group {
  display: flex;
  flex-direction: column;
  grid-gap: 22px 0;
}

.custom-radio {
  position: relative;
  cursor: pointer;
  color: #02326c;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: -28px;
  width: 20px;
  height: 20px;
  border: 1px solid #6d748f;
  border-radius: 50%;
  background-color: transparent;
}

.custom-radio input[type="radio"]:checked + .checkmark {
  border: 2px solid #0766d6;
  background-color: transparent;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #0766d6;
}

.custom-radio .checkmark::after {
  border-radius: 50%;
}

.custom-radio input[type="radio"]:checked + .checkmark::after {
  display: block;
}
a:focus {
  text-decoration: none;
}
/* Header start */
.header {
  padding: 30px 0;
  background: #b9daf6;
  border: 1.3px solid #e3edfa;
}
.notification-dropbox-wrap {
  box-shadow: 0px 8px 17px 0px #00000026;
  background-color: var(--white);
  border-radius: 19px;
  padding: 20px 15px 20px 20px;
  min-width: 430px;
  right: -30px;
  top: 140%;
  transform: translateY(50px);
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  transition: all 0.3s;
}
.direction-rtl .notification-dropbox-wrap {
  left: -30px;
  right: unset;
  padding: 20px 20px 20px 15px;
}
.notification-dropbox-inner-wrap {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 0 5px 0 0;
}
.direction-rtl .notification-dropbox-inner-wrap {
  padding: 0 0 0 5px;
}
.top-extra-dropdown {
  top: 125%;
}
.admin-header-option ul li:hover .notification-dropbox-wrap {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.notification-dropbox-wrap .count-msg-number-box {
  position: unset;
}
.notification-icon-box {
  background-color: #eff2ff;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.notification-dropbox-wrap h3 {
  font-size: 17px;
  color: var(--black);
}
.notification-dropbox-wrap h4,
.notification-dropbox-wrap h6,
.notification-dropbox-wrap .h6 .notification-dropbox-wrap .h4 {
  font-size: 14px;
  color: var(--primary-theme);
}
.notification-dropbox-wrap h5,
.notification-dropbox-wrap .h5 {
  font-size: 15px;
  color: var(--black);
}
.notification-dropbox-wrap h6 {
  color: #8c92aa;
}
.notification-dropbox-wrap ul {
  margin: 14px 0;
  border-bottom: 1px solid #e4ebf2;
}
.notification-dropbox-wrap ul li a {
  border-top: 1px solid #e4ebf2;
  padding: 14px;
}
.direction-rtl .notification-dropbox-wrap .direction-left-right-arrow {
  margin: 0 auto 0 0;
}
.notification-dropbox-wrap .arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--white);
  position: absolute;
  top: -8px;
  right: 33px;
}
.notification-dropbox-wrap.top-extra-dropdown .arrow-up {
  right: 44px;
}
.direction-rtl .notification-dropbox-wrap.top-extra-dropdown .arrow-up {
  left: 44px;
  right: unset;
}
.direction-rtl .notification-dropbox-wrap .arrow-up {
  left: 33px;
  right: unset;
}
.notification-dropbox-wrap a:hover {
  text-decoration: none;
}
.notification-dropbox-wrap a:hover h5,
.notification-dropbox-wrap a:hover svg path {
  color: var(--primary-binary);
}
.service-billing-domain-wrap {
  margin: 14px 0 0 0;
  border-top: 1px solid #e4ebf2;
  padding-top: 14px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.service-billing-domain-inner-box {
  border: 1px solid #e6eafb;
  padding: 15px;
  border-radius: 10px;
  background-color: #f6f8ff;
}
.service-billing-domain-inner-box span {
  margin-bottom: 8px;
}
.service-billing-domain-inner-box:hover {
  border-color: var(--primary-binary);
}
.notifications-head .welcome-user-profile {
  box-shadow: none;
  margin-bottom: 10px;
}
.notifications-head {
  flex-wrap: wrap;
}
.direction-rtl .notifications-head .ms-auto {
  margin-right: auto;
  margin-left: unset;
}
.custom-upload {
  width: 25px;
  height: 25px;
  background-color: var(--primary-theme);
  border: 1px solid var(--primary-theme);
  border-radius: 100%;
  cursor: pointer;
  color: var(--white);
  position: absolute;
  right: 0;
  bottom: 0;
}
.custom-upload:hover {
  background-color: var(--black);
}
.custom-upload input {
  left: -9999px;
  position: absolute;
}
.notifications-msg-dropbox-wrap {
  padding: 20px;
}
.notifications-msg-dropbox-wrap ul {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}
.show-unactive {
  padding-right: 9px;
}
.show-unactive::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--red);
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.direction-rtl .show-unactive::before {
  right: unset;
  left: 0;
}
/* header-login-cloud-dropdown css start */
.custom-input.header-login-cloud-dropdown{
  background-color: var(--white);
  border-color: var(--white);
  border-radius: 6px;
  margin-bottom: 0;
}
.custom-input.header-login-cloud-dropdown .selected-display{
  margin-left: 0;
}
/* header-login-cloud-dropdown css end */
/* Header end */
/* 20/04/2024 button css update start */
.sign-up-btn,
.primary-btn {
  background-color: var(--primary-theme);
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  border: none;
  padding: 11px 24px;
  color: white;
  max-width: 200px;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.sign-up-btn:hover,
.primary-btn:hover {
  background: #0e6eff;
  color: var(--white);
  text-decoration: none;
}

.sign-up-btn:active,
.primary-btn:active {
  background: #0e6eff;
}
.small-btn {
  min-width: 65px;
  max-width: max-content;
  background-color: var(--exquisite-turquoise);
  font-size: 14px;
  min-height: 25px;
  border-radius: 5px;
  padding: 5px 10px;
}
.small-btn:hover {
  opacity: 0.7;
}
/* 20/04/2024 button css update end */
/* DROPDOWN START */
.setting-description {
  background: linear-gradient(178deg, #ffffff 0%, #eef6ff 54.04%, #dbebff 100%);
  border-radius: 20px;
  width: 100%;
  box-shadow: 0px -2px 2px 0 rgba(0, 0, 0, 0.25) inset;
  position: relative;
  margin-top: var(--dropdown-option-mt);
}
.setting-description.boxshadow:after {
  content: "";
  position: absolute;
  width: 95%;
  left: 5px;
  bottom: 0;
  z-index: -1;
  border-radius: 48px;
  top: 50%;
  box-shadow: 0px 3px 18px #74a5d2;
}
.setting-description-text {
  padding-top: 18px;
  margin-left: 30px;
}

/* the code below is for the dropdown menu */
.wrapper-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0px 0px 0px 0px;
  min-height: 44px;
  border-radius: 20px;
  background: transparent;
  text-align: left;
  color: #031b4e;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.arrow {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
  rotate: 180deg;
  position: absolute;
  top: 0;
  right: 0;
}

.selected-display {
  margin-left: 30px;
  margin-right: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

svg,
.transition-all-03 {
  transition: all 0.3s;
}

.wrapper-dropdown::before {
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -2px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.rotated {
  transform: rotate(-180deg);
}

.wrapper-dropdown .dropdown {
  transition: 0.3s;
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
  border-radius: 20px;
  box-shadow: inherit;
  background: linear-gradient(180deg, #ffffff 0%, #eef6ff 54.04%, #dbebff 100%);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #031b4e;
  opacity: 0;
  font-size: 20px;
  font-weight: 600;
  visibility: hidden;
}

.wrapper-dropdown .dropdown li {
  padding: 6px 25px;
  line-height: 1.25;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.language-select-wrap .wrapper-dropdown .dropdown li {
  text-align: center;
}
.wrapper-dropdown .dropdown li:last-child {
  border-bottom: none;
}

.dropdown {
  padding: 0.5rem !important;
}

.wrapper-dropdown .dropdown li:hover {
  background-color: rgb(35, 40, 49);
  border-radius: 10px;
  color: white;
}

.wrapper-dropdown.active .dropdown {
  opacity: 1;
  visibility: visible;
  border-radius: 20px;
}

.wrapper-dropdown .dropdown {
  max-height: 150px;
  overflow-y: auto;
}

.remove-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-dropdown.active .dropdown .item.remove-item:not(:last-child) {
  border-bottom: 1px solid #d9e2ed;
}

.selected-display .d-flex {
  display: none !important;
}

.map-img {
  display: none;
}

/* DROPDOWN END */
/* registration form css start 20/04/2024 */
.registration-form-wrap {
  padding-top: 25px;
}
.registration-form-wrap .button {
  padding: 0.7rem 1.5rem;
  border: 1px solid var(--primary-binary);
  background-color: var(--primary-binary);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.registration-form-wrap .form-step {
  padding-top: 15px;
}
.registration-form-wrap .form-step .inner-form-field-wrap {
  min-height: calc(100vh - 600px);
}
.registration-form-wrap .font-normal {
  font-weight: normal;
}
.registration-form-wrap ul.form-stepper {
  counter-reset: section;
  padding: 0;
  overflow-x: auto;
}
.registration-form-wrap ul.form-stepper .form-stepper-circle {
  position: relative;
}
.registration-form-wrap ul.form-stepper .form-stepper-circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 19px;
  font-weight: 500;
  line-height: 23.94px;
  text-align: left;
  color: #596279;
}
.registration-form-wrap ul.form-stepper .form-stepper-circle .check-icon,
.registration-form-wrap
  .form-stepper
  .form-stepper-completed
  .form-stepper-circle
  .step-number-text {
  display: none;
}
.registration-form-wrap
  .form-stepper
  .form-stepper-completed
  .form-stepper-circle
  .check-icon {
  display: block;
  line-height: 0;
}
.registration-form-wrap .form-stepper-horizontal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.registration-form-wrap ul.form-stepper > li:not(:last-of-type) {
  margin-bottom: 0.625rem;
  -webkit-transition: margin-bottom 0.4s;
  -o-transition: margin-bottom 0.4s;
  transition: margin-bottom 0.4s;
}
.registration-form-wrap .form-stepper-horizontal > li:not(:last-of-type) {
  margin-bottom: 0 !important;
}
.registration-form-wrap .form-stepper-horizontal li {
  width: calc(100% / 4);
  position: relative;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  justify-content: center;
  z-index: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.registration-form-wrap .form-stepper-horizontal li:not(:last-child):after {
  position: absolute;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  content: "";
  top: 25%;
  transform: translateY(-50%);
  border: 1px dashed #ccd1d7;
  width: 100%;
  left: 50px;
  z-index: -1;
}
.direction-rtl
  .registration-form-wrap
  .form-stepper-horizontal
  li:not(:last-child):after {
  left: unset;
  right: 50px;
}
.registration-form-wrap .form-stepper-horizontal li:after {
  border-color: #ccd1d7;
}
.registration-form-wrap
  .form-stepper-horizontal
  li.form-stepper-completed:after {
  border-color: var(--primary-theme);
}
.registration-form-wrap .form-stepper-horizontal li:last-child {
  flex: unset;
}
.registration-form-wrap ul.form-stepper li a .form-stepper-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 0;
  line-height: 1.7rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 50%;
  box-shadow: 1px -1px 1px 0px #03336a29 inset;
  position: relative;
}
.registration-form-wrap ul.form-stepper li a .form-stepper-circle::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 2.98px 7.64px 0px #84a7c752;
  border-radius: 50%;
}
.registration-form-wrap .form-stepper .form-stepper-active .form-stepper-circle,
.registration-form-wrap
  .form-stepper
  .form-stepper-completed
  .form-stepper-circle {
  background-color: var(--primary-theme) !important;
  color: #fff;
}
.registration-form-wrap
  .form-stepper
  .form-stepper-active
  .form-stepper-circle
  .step-number-text {
  color: var(--white);
}
.registration-form-wrap .form-stepper .form-stepper-active .label,
.registration-form-wrap .form-stepper .form-stepper-completed .label {
  color: var(--black) !important;
}
.registration-form-wrap
  .form-stepper
  .form-stepper-active
  .form-stepper-circle:hover,
.registration-form-wrap
  .form-stepper
  .form-stepper-completed
  .form-stepper-circle:hover {
  background-color: var(--primary-binary) !important;
  color: #fff !important;
}
.registration-form-wrap
  .form-stepper
  .form-stepper-unfinished
  .form-stepper-circle {
  background: linear-gradient(90deg, #dbebff 0%, #eef6ff 52.5%, #f4f9ff 100%);
}
.registration-form-wrap
  .form-stepper
  .form-stepper-completed
  .form-stepper-circle
  .check-icon
  svg
  path {
  color: #fff !important;
}
.registration-form-wrap
  .form-stepper
  .form-stepper-completed
  .form-stepper-circle
  .check-icon
  svg {
  width: 20px;
  height: 20px;
}
.registration-form-wrap .form-stepper .label {
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.64px;
  text-align: center;
  color: #596279;
}
.a-hover-underline-none:hover {
  text-decoration: none;
}
.registration-form-wrap .form-stepper a {
  cursor: default;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration-form-wrap .d-none,
.registration-form-wrap.d-none {
  display: none;
}
/* registration form css end */
/* registration-form-box css start */
.registration-form-section {
  --registration-form-box-width: 700px;
}
.registration-form-box {
  background: linear-gradient(180deg, #e3f3ff 0%, #def0ff 50%, #d2e9fe 100%);
  max-width: var(--registration-form-box-width);
  width: 100%;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 130px;
  box-shadow: 0px 11px 32px 0px rgba(68, 100, 182, 0.25);
  border-radius: 30px;
}
.registration-form-section {
  height: 100vh;
  display: flex;
  overflow-y: auto;
  background-image: url(./../images/backgrounds/clud-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.registration-form-section::after {
  content: "";
  background-color: #d3ecfe;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.registration-form-section .container {
  height: inherit;
  display: flex;
  flex-direction: column;
}
.auth-logo {
  max-width: 150px;
  margin: 0 auto;
  display: flex;
}
.registration-form-col {
  margin: auto;
  padding: 30px 0;
}
.language-select-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  top: -6px;
  right: 0;
}
.direction-rtl .language-select-wrap {
  right: unset;
  left: 0;
}
.language-select-wrap h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 18.9px;
  color: var(--black);
  margin: 0;
}
.language-select-wrap .wrapper-dropdown {
  width: max-content;
  min-height: auto;
  margin-bottom: 0;
}
.language-select-wrap .wrapper-dropdown .dropdown li {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.language-select-wrap .wrapper-dropdown .dropdown li:hover {
  background-color: #bee4fe;
}
.language-select-wrap .wrapper-dropdown .dropdown {
  border: 1px solid;
}
.selected-flag {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  overflow: hidden;
  background: var(--white);
  border: 2px solid var(--white);
  align-items: center;
  justify-content: center;
}
.selected-flag img {
  border-radius: inherit;
}
.language-select-wrap .arrow path {
  color: rgba(66, 113, 228, 1);
}
.registration-logo-country-dropmenu {
  position: relative;
  max-width: var(--registration-form-box-width);
  margin: 0 auto 25px;
}
.registration-form-box h3 {
  font-size: 29px;
  font-weight: 700;
  line-height: 36.54px;
  margin: 0 0 30px;
  color: rgba(62, 113, 239, 1);
}
.registration-form-box h3 span {
  color: var(--black);
}
a.secure-client-btn {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid transparent;
  width: max-content;
  min-width: 250px;
  min-height: 50px;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 18.9px;
  text-align: left;
  color: var(--black);
  grid-gap: 10px;
  text-decoration: none;
  margin-bottom: 30px;
  transition: all 0.3s;
}
a.secure-client-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(62, 113, 239, 1);
}
.or-line-text {
  font-size: 15px;
  font-weight: 600;
  line-height: 18.9px;
  color: rgba(39, 78, 112, 1);
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 0 0 34px;
  z-index: 1;
}
.or-line-text span {
  margin: 0 auto;
  display: block;
  width: max-content;
  padding: 0 5px;
  background: #e3f3ff;
}
.or-line-text::after {
  content: "";
  width: 100%;
  height: 7px;
  background: rgba(219, 235, 255, 1);
  box-shadow: 1px 1px 1px 0px rgba(52, 105, 153, 0.25) inset;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.custom-input {
  width: 100%;
  min-height: 50px;
  background: rgba(209, 231, 251, 1);
  border-color: rgba(170, 215, 255, 1);
  border-radius: 14px;
  box-shadow: none;
  padding: 5px 21px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
}
.custom-input::placeholder {
  color: rgba(131, 159, 185, 1);
}
.custom-input:focus,
.custom-input:hover,
.form-control:hover,
.form-control:focus,
.table-search-bar .search-bar-wrap input:focus {
  border-color: #336eff;
  outline: none;
  box-shadow: none;
}
.custom-input:focus,
.form-control:focus,
.form-group .wrapper-dropdown:focus,
.form-group .wrapper-dropdown:focus-visible,
.form-group .wrapper-dropdown:focus-within {
  box-shadow: 0 8px 10px 0 rgba(122, 164, 203, 0.25);
}
.icon-input-wrap .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  line-height: 0;
}
.direction-rtl .icon-input-wrap .icon {
  left: unset;
  right: 15px;
}
.icon-input-wrap input {
  padding-left: 45px;
  padding-right: 45px;
}
.icon-input-wrap .password-eye-close-icon {
  right: 15px;
  left: unset;
  transition: all 0.3s;
}
.direction-rtl .icon-input-wrap .password-eye-close-icon {
  left: 15px;
  right: unset;
}
.icon-input-wrap .password-eye-close-icon:hover {
  color: #005ea7;
}
.remember-forgot-pass-text {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  grid-gap: 15px;
}
.remember-forgot-pass-text a {
  margin-left: auto;
}
.registration-form-box h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 18.9px;
  text-align: center;
  color: #565f71;
  grid-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.registration-form-box h6 a {
  color: #2b66f6;
}
.divider {
  width: calc(100%);
  height: 5px;
  background: rgba(219, 235, 255, 1);
  box-shadow: 1px 1px 1px 0px #34699940 inset;
  position: relative;
}
.divider::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 1.2px 0px 0px #ffffff40;
}
.registration-form-data-wrap.registration-form-box {
  padding: 40px 100px;
  position: relative;
}
.step-footer-wrap {
  padding: 20px 0;
  display: flex;
  align-items: center;
  grid-gap: 15px;
}
.form-step .divider {
  margin-top: 30px;
}
.step-next-prev-btn-wrap {
  grid-gap: 15px;
  justify-content: end;
  width: 100%;
}
.step-footer-wrap a.secure-client-btn {
  margin: 0;
}
.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.form-group .selected-display {
  margin: 0;
}
.form-group label {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.38px;
  color: var(--black);
  margin-bottom: 10px;
}
.form-group .wrapper-dropdown {
  display: flex;
  align-items: center;
  min-height: 50px;
}
.form-group .error-label {
  color: #596279;
  margin: 10px 0 0;
  text-align: right;
  display: block;
}
.registration-form-section .arrow {
  top: 0;
  line-height: 0;
  height: 100%;
}
.direction-rtl .registration-form-wrap .form-step .arrow {
  left: 0;
  right: unset;
}
.selected-display.d-flex {
  display: flex;
  grid-gap: 10px;
}
.direction-rtl {
  direction: rtl;
}
.step-next-prev-btn-wrap button.navigate-prev-btn {
  background-color: transparent;
  width: auto;
  max-width: unset;
  min-height: unset;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 70px;
}
.navigate-prev-btn:hover {
  background-color: transparent;
}
.navigate-prev-btn svg {
  color: #0766d6;
}
.navigate-prev-btn svg:hover {
  color: var(--black);
}
/* registration-form-box css end 20/04/2024 */
/* layout css start */
.admin-main-wrap {
  height: 100vh;
}
.layout {
  z-index: 1;
}
.layout .header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.layout .content {
  display: flex;
  flex-direction: column;
}
.layout .footer {
  padding: 20px var(--admin-body-y);
  grid-gap: 15px;
}
.layout .footer small,
.layout .footer ul li a {
  font-size: 15px;
}
.layout .footer ul {
  grid-gap: 15px;
}
.sidebar {
  color: #7d84ab;
  overflow-x: hidden !important;
  position: relative;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
:hover::-webkit-scrollbar-thumb {
  background-color: var(--primary-theme);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0c1e35;
}
.sidebar .image-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.sidebar .image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.sidebar.has-bg-image .image-wrapper {
  display: block;
}
.sidebar .sidebar-layout {
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(90deg, #dbebff 0%, #eef6ff 52.5%, #f4f9ff 100%);
  z-index: 2;
}
.sidebar .sidebar-layout .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--sidebar-xy-spacing) 0;
  min-height: 76px;
}
.sidebar .sidebar-layout .sidebar-header > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar .sidebar-layout .sidebar-content {
  flex-grow: 1;
  padding: 0 calc(var(--sidebar-xy-spacing) - 10px);
  height: calc(100vh - 116px);
  overflow-y: auto;
  overflow-x: hidden;
}
.layout .sidebar.collapsed .pro-sidebar-big-logo,
.pro-sidebar-small-logo {
  display: none;
}
.layout .sidebar.collapsed .pro-sidebar-small-logo {
  display: block;
  max-width: 26px;
}
.sidebar .sidebar-layout .sidebar-footer {
  height: 230px;
  min-height: 230px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.sidebar .sidebar-layout .sidebar-footer > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes swing {
  0%,
  30%,
  50%,
  70%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}
.layout .sidebar .menu ul {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
}
.layout .sidebar .menu .menu-header {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.64px;
  padding: 0 0 10px;
  color: var(--primary-secondary);
  text-transform: uppercase;
  white-space: nowrap;
  transition: opacity 0.3s;
}
.layout .sidebar .menu .menu-item a {
  display: flex;
  align-items: center;
  min-height: 50px;
  color: #7d84ab;
}
.layout .sidebar .menu .menu-item a .menu-icon {
  margin-right: 10px;
  line-height: 0;
  transition: color 0.3s;
}
.layout .sidebar .menu .menu-item a .menu-icon i {
  display: inline-block;
}
.direction-rtl .layout .sidebar .menu .menu-item a .menu-icon {
  margin-left: 10px;
}
.layout .sidebar .menu .menu-item a .menu-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  transition: color 0.3s;
}
.sub-menu-list .menu-title {
  position: relative;
  padding-left: 20px;
}
.sub-menu-list .menu-title::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #7d84ab;
  border-radius: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.layout .sidebar .menu .menu-item a .menu-prefix,
.layout .sidebar .menu .menu-item a .menu-suffix {
  display: inline-block;
  padding: 5px;
  opacity: 1;
  transition: opacity 0.3s;
}
.layout .sidebar .menu .menu-item a:hover .menu-title {
  color: var(--primary-secondary);
}
.layout .sidebar .menu .menu-item a:hover .menu-icon {
  color: var(--primary-secondary);
}
.layout .sidebar .menu .menu-item a:hover .menu-icon i {
  animation: swing ease-in-out 0.5s 1 alternate;
}
.layout .sidebar .menu .menu-item a:hover {
  text-decoration: none;
}
.layout .sidebar .menu .menu-item a:hover::after {
  border-color: var(--primary-secondary) !important;
}
.layout .sidebar .menu .menu-item.sub-menu {
  position: relative;
}
.layout .sidebar .menu .menu-item.sub-menu > a::after {
  content: "";
  transition: transform 0.3s;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  color: var(--cool-grey);
}
.layout .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
  display: none;
  overflow: hidden;
  z-index: 999;
}
.layout .sidebar .menu .menu-item.sub-menu .menu-item a {
  min-height: 40px;
}
.layout .sidebar .menu .menu-item.sub-menu.open > a {
  color: var(--primary-secondary);
}
.layout
  .sidebar
  .menu
  .menu-item.sub-menu
  .menu-item
  a:hover
  .menu-title::before {
  background-color: var(--primary-secondary);
}
.layout .sidebar .menu .menu-item.sub-menu.open > a::after {
  transform: rotate(45deg);
}
.layout .sidebar .menu .menu-item.active > a .menu-title {
  color: var(--primary-secondary);
}
.layout .sidebar .menu .menu-item.active > a::after {
  border-color: var(--primary-secondary);
}
.layout .sidebar .menu .menu-item.active > a .menu-icon {
  color: var(--primary-secondary);
}
.layout .sidebar .menu > ul > .sub-menu > .sub-menu-list {
  background-color: #0b1a2c;
}
.layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon,
.layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon,
.layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
  background-color: #0b1a2c;
}
.layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon {
  border-radius: 50%;
}
.layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon {
  border-radius: 4px;
}
.layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
  border-radius: 0;
}
.layout
  .sidebar:not(.collapsed)
  .menu
  > ul
  > .menu-item.sub-menu
  > .sub-menu-list {
  visibility: visible !important;
  position: static !important;
  transform: translate(0, 0) !important;
}
.layout .sidebar.collapsed .menu > ul > .menu-header {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-prefix,
.layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-suffix {
  opacity: 0;
}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentcolor;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 50%;
  border: none;
  transform: translateY(-50%);
}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a:hover::after {
  background-color: var(--primary-secondary);
}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list {
  transition: none !important;
  width: 200px;
  margin-left: calc(var(--sidebar-width) / 7) !important;
  border-radius: 4px;
  display: block !important;
  background: linear-gradient(90deg, #dbebff 0%, #eef6ff 52.5%, #f4f9ff 100%);
  box-shadow: 0px 1px 14px 0px rgba(68, 100, 182, 0.25);
}
.direction-rtl
  .layout
  .sidebar.collapsed
  .menu
  > ul
  > .menu-item.sub-menu
  > .sub-menu-list {
  left: -85px !important;
}
.layout .sidebar.collapsed .menu > ul > .menu-item.active > a::after {
  background-color: var(--primary-secondary);
}
.layout .sidebar.has-bg-image .menu.icon-shape-circle .menu-item a .menu-icon,
.layout .sidebar.has-bg-image .menu.icon-shape-rounded .menu-item a .menu-icon,
.layout .sidebar.has-bg-image .menu.icon-shape-square .menu-item a .menu-icon {
  background-color: rgba(209, 231, 251, 1);
}
.layout
  .sidebar.has-bg-image:not(.collapsed)
  .menu
  > ul
  > .sub-menu
  > .sub-menu-list {
  background-color: transparent;
}
.layout.rtl .sidebar .menu .menu-item a .menu-icon {
  margin-left: 10px;
  margin-right: 0;
}
.layout.rtl .sidebar .menu .menu-item.sub-menu > a::after {
  transform: rotate(135deg);
}
.layout.rtl .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
  padding-left: 0;
  padding-right: 20px;
}
.layout.rtl .sidebar .menu .menu-item.sub-menu.open > a::after {
  transform: rotate(45deg);
}
.layout.rtl .sidebar.collapsed .menu > ul > .menu-item.sub-menu a::after {
  right: auto;
  left: 10px;
}
.layout.rtl
  .sidebar.collapsed
  .menu
  > ul
  > .menu-item.sub-menu
  > .sub-menu-list {
  margin-left: -3px !important;
}

a {
  text-decoration: none;
}

@media (max-width: 767px) {
  #btn-collapse {
    display: none;
  }
}
.layout .sidebar .pro-sidebar-logo {
  display: flex;
  align-items: center;
}
.layout .sidebar .pro-sidebar-logo > div {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  background-color: #ff8100;
  margin-right: 10px;
}
.layout .sidebar .pro-sidebar-logo > h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 30px;
  transition: opacity 0.3s;
  opacity: 1;
}
.layout .sidebar .footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8em;
  padding: 20px 0;
  border-radius: 8px;
  width: 180px;
  min-width: 190px;
  margin: 0 auto;
  background-color: #162d4a;
}
.layout .sidebar .footer-box img.react-logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.layout .sidebar .footer-box a {
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}
.layout .sidebar .sidebar-collapser {
  transition: left, right, 0.3s;
  position: fixed;
  left: calc(var(--sidebar-width) - 40px);
  top: calc(var(--sidebar-icon-width) / 2 + 5px);
  width: var(--sidebar-icon-width);
  height: var(--sidebar-icon-width);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50%);
  z-index: 111;
  color: var(--black);
  background: linear-gradient(90deg, #dbebff 0%, #eef6ff 52.5%, #f4f9ff 100%);
  box-shadow: 1.12px 0px 1.01px 0px #03336a1f inset;
  cursor: pointer;
}
.direction-rtl .layout .sidebar .sidebar-collapser {
  left: unset;
  right: calc(var(--sidebar-width) - 0px);
}
.direction-rtl .layout .sidebar .sidebar-collapser svg {
  rotate: 180deg;
}
.layout .sidebar .sidebar-collapser::after {
  content: "";
  box-shadow: 0px 3.36px 4.48px 0px #5794cb42;
  width: var(--sidebar-icon-width);
  height: var(--sidebar-icon-width);
  border-radius: 100%;
  left: 0;
  position: absolute;
  z-index: -1;
}
.layout .sidebar.collapsed .pro-sidebar-logo > h5 {
  opacity: 0;
}
.layout .sidebar.collapsed .footer-box {
  display: none;
}
.layout .sidebar.collapsed .sidebar-collapser {
  left: 55px;
  top: calc(var(--sidebar-icon-collapsed-width) - -5px);
  width: var(--sidebar-icon-collapsed-width);
  height: var(--sidebar-icon-collapsed-width);
}
.layout .sidebar.collapsed .sidebar-collapser::after {
  width: var(--sidebar-icon-collapsed-width);
  height: var(--sidebar-icon-collapsed-width);
}
.layout .sidebar.collapsed .sidebar-collapser svg {
  max-width: 13px;
  transform: rotate(180deg);
}
.direction-rtl .layout .sidebar.collapsed .sidebar-collapser {
  left: unset;
  right: 80px;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #6c757d;
}
.badge.primary {
  background-color: #ab2dff;
}
.badge.secondary {
  background-color: #079b0b;
}

.sidebar-toggler {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999;
  color: var(--white);
}

.social-links a {
  margin: 0 10px;
  color: #3f4750;
}
.active-menu-item .menu-title {
  color: var(--black);
}
.sidebar-content .menu-icon svg path {
  color: var(--cool-grey);
  transition: color 0.3s;
}
.active-menu-item .menu-icon svg path,
.layout .sidebar .menu .menu-item a:hover svg path,
.layout .sidebar .menu .menu-item.sub-menu.open > a svg path {
  color: var(--primary-theme);
}
.sidebar-content .divider {
  width: calc(100% + 27px);
  left: -13.5px;
}
.sidebar-layout .divider {
}
.top-divider {
  padding: 0 var(--sidebar-xy-spacing);
}
.sidebar-content .divider,
.top-divider .divider {
  margin: 10px 0 25px;
}
.top-divider .divider {
  margin-top: 0;
}
.layout .sidebar.collapsed .sidebar-header {
  padding: 30px 10px 20px;
}
.layout .sidebar.collapsed .sidebar-content {
  padding: 0 10px;
}
.layout .sidebar.collapsed .top-divider {
  padding: 0 10px;
}
/* layout css end */
/* admin-header css start */
.admin-header {
  min-height: var(--admin-header);
  background: linear-gradient(266deg, #dbebff 0%, #eef6ff 52.5%, #f4f9ff 100%);
  box-shadow: -1px -1px 0.9px 0px #03336a1a inset;
  position: relative;
  padding: 12px 40px;
  display: flex;
  align-items: center;
}
.admin-header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 4px 4px 10px 0px #a3c5e44d;
  z-index: -1;
}
.profile-img {
  width: 42px;
  height: 42px;
  border: 3px solid var(--white);
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.admin-header-option ul {
  grid-gap: 22px;
}
.admin-header-option ul li a {
  color: #56616d;
}
.admin-header-option ul li a:hover {
  color: var(--primary-binary);
}
.admin-header-option ul li {
  line-height: 0;
}
.count-msg-number-box {
  width: 20px;
  height: 20px;
  background-color: #ef4343;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 11px;
  line-height: 1;
  border: 2px solid var(--white);
}
/* admin-header css end */
/* admin-body-content css start */
.admin-body-content {
  padding: var(--admin-body-y) var(--admin-body-x);
  height: calc(100vh - 154px);
  overflow-y: auto;
}
.admin-head {
  font-size: 23px;
  line-height: 1.26;
  color: var(--black);
  font-weight: 600;
}
.admin-body-content .admin-head {
  margin-bottom: 26px;
}
/* welcome-admin-profile css start */
.welcome-user-profile {
  width: 84px;
  height: 84px;
  box-shadow: 0px 4px 4px 0px #e1e9f5;
}
.welcome-user-content {
  padding-left: 15px;
}
.welcome-user-content h4 {
  font-size: 20px;
}
.welcome-user-content h6 {
  color: #565f71;
  font-size: 14px;
}
.welcome-user-content h6 span {
  margin-right: 7px;
  line-height: 0;
  transform: translateY(2px);
}
.direction-rtl .welcome-user-content h6 span {
  margin-left: 10px;
}
.welcome-icons-box-wrap,
.admin-header-option,
.admin-dashboard-services-head a {
  margin-left: auto;
}
.direction-rtl .welcome-icons-box-wrap,
.direction-rtl .admin-header-option,
.direction-rtl .admin-dashboard-services-head a {
  margin-left: unset;
  margin-right: auto;
}
.welcome-icons-box-wrap ul {
  grid-gap: 15px;
}
.welcome-icons-box-wrap li a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--primary-theme);
  color: var(--white);
}
.welcome-icons-box-wrap li a.mozart {
  background-color: var(--mozart);
}
.welcome-icons-box-wrap li a.beijing-blue {
  background-color: var(--beijing-blue);
}
.welcome-icons-box-wrap li a:hover {
  background-color: var(--black);
}
/* welcome-admin-profile css end */
/* admin-dashboard-boxes-wrap css start */
.admin-card-box {
  background-color: var(--white);
  box-shadow: 0px 9px 12px 0px #0000000f;
  margin-top: 25px;
  border-radius: 9px;
  padding: 33px;
  grid-gap: 15px;
  border: 1px solid transparent;
}
.admin-card-box:hover {
  border-color: var(--brilliant-azure);
}
.admin-dashboard-boxes-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 18px;
}
.admin-dashboard-icon-box {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--brilliant-white);
}
.admin-dashboard-content-box h4 {
  color: #031b4e;
  font-size: 23px;
}
.admin-dashboard-content-box h6 {
  color: #8293b8;
  font-size: 18px;
}

/* admin-dashboard-boxes-wrap css end */
/* admin-dashboard-services-card-wrap css start */
.admin-dashboard-services-card-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 18px;
}
.admin-dashboard-services-head h5 {
  color: #565b66;
  font-size: 15px;
  padding-left: 10px;
  border-left: 4px solid var(--brilliant-azure);
}
.direction-rtl .admin-dashboard-services-head h5 {
  border-right: 4px solid var(--brilliant-azure);
  border-left: unset;
  padding-right: 10px;
  padding-left: 0;
}
.direction-rtl .admin-dashboard-services-head a {
  padding-right: 10px;
}
.admin-dashboard-services-head a {
  font-size: 15px;
  text-decoration: underline;
}
.admin-dashboard-services-detail-col {
  grid-gap: 15px;
  padding-right: 10px;
}
.admin-dashboard-services-detail-col h4 {
  font-size: 15px;
  margin-bottom: 5px;
}
.admin-dashboard-services-detail-col a {
  font-size: 14px;
  text-decoration: underline;
}
.admin-dashboard-services-detail-col.admin-form-group input {
  border-radius: 8px;
}
.admin-dashboard-services-detail-col.admin-form-group button {
  min-width: 100px;
  max-width: unset;
  font-size: 16px;
  padding: 5px 10px;
  width: auto;
}
.admin-form-group .d-align {
  grid-gap: 15px;
}
/* admin-dashboard-services-card-wrap css end */
/* custom dropdown css start */
.country-dropdown-menu .language-select-wrap {
  position: unset;
}
.country-dropdown-menu .language-select-wrap .wrapper-dropdown .dropdown li {
  justify-content: center;
}
.country-dropdown-menu .arrow {
  margin-left: 0;
  display: none;
}
.country-dropdown-menu .selected-display {
  margin-right: 30px;
}
/* custom dropdown css end */
/* admin-body-content css end */
/* manage firewall css start */
.head-line-border {
  padding-left: 10px;
  border-left: 4px solid var(--brilliant-azure);
  line-height: 0.7;
}
.direction-rtl .head-line-border {
  padding-right: 10px;
  border-right: 4px solid var(--brilliant-azure);
  border-left: 0;
}
.table-search-bar {
  grid-gap: 12px;
}
.direction-rtl .table-search-bar,
.direction-rtl .pagination-wrap {
  margin: 0 auto 0 0;
}
.table-search-bar .primary-btn {
  max-width: max-content;
}
.table-search-bar .search-bar-wrap input {
  min-width: 350px;
  max-width: 350px;
  padding-left: 45px;
  background-color: transparent;
  border-color: var(--christmas-silver);
  border-radius: 8px;
}
.table-search-bar .search-bar-wrap span.search-icon {
  top: 50%;
  transform: translateY(-50%);
  left: 17px;
}
.table-search-bar .search-bar-wrap input:focus {
  box-shadow: unset;
}
.table-search-bar .search-bar-wrap input::placeholder {
  color: var(--gravel-fint);
}
.table-wrap h5 {
  color: var(--cool-grey);
  font-size: 15px;
  font-weight: 400;
}
table {
  margin: 28px 0;
  border: 1px solid #dee4f1;
}
.table-responsive {
  border: unset;
}
table thead {
  background-color: #f2f6ff;
}
table thead th {
  padding: 13px 20px;
  font-size: 14px;
  font-weight: 500;
}
table thead th span svg {
  max-width: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
table thead th:not(:last-child) {
  border-right: 3px solid var(--white);
}
table tbody td {
  padding: 22px 20px;
}
table tbody td h4 {
  font-size: 16px;
}
table tbody tr:not(:last-child) {
  border: 1px solid #dee4f1;
}
.table-footer-wrap .wrapper-dropdown {
  margin: 0 15px;
  background: #f1f9ff;
  border-color: #c7e4fe;
  padding: 5px;
  border-radius: 4px;
  min-height: 34px;
}
.table-footer-wrap .selected-display {
  margin-left: 10px;
}
.table-footer-wrap .wrapper-dropdown .dropdown li {
  font-size: 14px;
}
.table-footer-wrap .wrapper-dropdown .dropdown li:hover {
  background-color: rgb(227 231 238);
  border-radius: 5px;
  color: var(--beijing-blue);
}
.table-footer-wrap h4 {
  font-size: 14px;
  color: #8893ac;
}
.pagination-wrap ul li {
  width: 34px;
  height: 34px;
  border: 1px solid #c7e4fe;
  background-color: #f1f9ff;
  border-radius: 100%;
}
.pagination-wrap ul li h6 {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
}
.pagination-wrap ul li:hover,
.pagination-wrap ul li:active {
  background-color: var(--primary-theme);
  box-shadow: 0px 4px 4px 0px #376ae830;
}
.pagination-wrap ul li:hover h6,
.pagination-wrap ul li:active h6 {
  color: var(--white);
}
.pagination-wrap span {
  color: #73809e;
}
.pagination-wrap span:hover {
  color: #b5c0db;
}
.direction-rtl .pagination-wrap .left-arrow {
  transform: rotate(175deg);
}
.direction-rtl .pagination-wrap .right-arrow {
  transform: rotate(-175deg);
}
/* manage firewall css end */
/* custom accordion start */
.tab-container {
  margin: 40px 0 0;
}
.tab-container .tab-menu {
  margin-bottom: 25px;
}
.tab-container .tab-menu ul {
  margin: 0;
  padding: 0;
  grid-gap: 15px;
  overflow-x: auto;
  padding-bottom: 5px;
}
.tab-container .tab-menu ul li {
  list-style-type: none;
}
.tab-container .tab-menu ul li a {
  min-width: 135px;
  min-height: 50px;
  text-decoration: none;
  color: #7a859d;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--white);
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 8px;
}
.tab-container .tab-menu ul li a.active-a,
.tab-container .tab-menu ul li a.active-a:hover {
  background-color: var(--primary-theme);
  color: var(--white) !important;
  box-shadow: 0px 9px 11px 0px #376ae82e;
}
.tab-container .tab-menu ul li a.active-a span {
  background-color: var(--white);
  color: var(--primary-theme);
}
.tab-container .tab-menu ul li a:hover {
  border-color: var(--primary-theme);
  color: var(--primary-theme) !important;
}
.tab-container .tab-menu ul li a span {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #e0efff;
}
.tab-container .tab {
  display: none;
}
.tab-container .tab-active {
  display: block;
}
/* custom accordion end */
/* cloud service css start */
.cloud-service-row {
  --cloud-service-right-col: 495px;
  display: flex;
  grid-gap: 33px;
}
.cloud-service-left-col .admin-dashboard-boxes-wrap {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 18px;
}
.cloud-service-left-col .admin-card-box {
  flex-direction: column;
  text-align: center;
  padding: 33px 23px;
}
.cloud-service-left-col .admin-card-box h4 {
  font-size: 18px;
  margin-bottom: 5px;
}
.cloud-service-left-col .admin-card-box h6 {
  font-size: 14px;
  margin-bottom: 18px;
}
.cloud-service-left-col .admin-card-box small {
  font-size: 12px;
  color: #565f71;
}
.cloud-service-right-col ul li a.tab-a {
  background-color: #f0f8ff;
  min-width: 115px;
}
.cloud-service-right-col .tab-container .tab-menu ul li a.active-a,
.cloud-service-right-col .tab-container .tab-menu ul li a.active-a:hover {
  box-shadow: none;
}
.cloud-service-right-col .tab-container {
  margin: 20px 0 0;
}
.cloud-service-right-col .tab .primary-btn {
  margin-top: 41px;
}
.primary-btn-max-content {
  max-width: max-content;
}
.direction-rtl .cloud-service-row .primary-btn.ms-auto {
  margin: 0 auto 0 0;
}
.admind-details-head {
  margin-bottom: 10px;
}
/* cloud service css end */

.comon-chart-style {
  width: 100%;
  min-height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
}

.direction-rtl .comon-chart-style {
  /* overflow-x: hidden;
  overflow-y: hidden; */
  transform: rotate(180deg);
}

/* amcharts css start */
#chartdiv {
  width: 100%;
  height: calc(100px + 260px) !important;
}	
.amcharts-wrap a{
  display: none !important;
}
.amcharts-chart-div{
  height: calc(100% - 10rem) !important;
}
.amcharts-chart-div  text{
  font-size: 12px !important;
  font-weight: 700;
  width: 50px !important;
  max-width: 50px !important;
  word-break: break-all;
}
.amChartsLegend svg{
  position: relative !important;
}
.amChartsLegend text{
  font-size: 12px !important;
  font-weight: 600;
}
.amChartsLegend {
  width:100% !important;
}
.direction-rtl .amChartsLegend text{
  transform: translate(calc(100% - 23rem), 0px);
}
.direction-rtl .amChartsLegend circle{
  transform: translate(calc(100% - 21rem), 0px);
}
.amChartsLegend g circle{
  fill: var(--white);
  stroke-width: 6px;
}
/* amcharts css end */