/* Responsive start */
/* Container start */
/* @media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
} */

/* @media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
} */

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }
}

/* Container end */
/* Responsive start */
@media (max-width: 1799px) {
    .admin-dashboard-content-box h4 {
        font-size: 18px;
    }

    .admin-dashboard-content-box h6 {
        font-size: 16px;
    }

    .user-management-box .w-70 {
        width: 50%;
    }

    .global-data-map {
        max-width: 80%;
    }

    .personal-hosting-plan-card {
        padding: 20px;
        flex-direction: column;
        align-items: start;
    }
}

@media (min-width: 1600px) {
    .cloud-service-left-col {
        max-width: calc(100% - var(--cloud-service-right-col));
    }

    .cloud-service-right-col {
        max-width: var(--cloud-service-right-col);
    }

    .open-ticket-content .admin-card-box {
        padding: 43px 52px;
    }

    .upgrade-card-btns {
        flex-direction: column;
        align-content: flex-end;
    }

}

@media (min-width: 1024px) {
    .w-53 {
        width: 53% !important;
    }

    .w-50 {
        width: 50% !important;
    }

    #billingAddress .modal-content {
        padding: 40px 30px;
    }
}

@media (max-width: 1599px) {
    .registration-form-box {
        padding: 40px 130px;
    }

    .admin-card-box {
        padding: 20px;
    }

    .cloud-service-row {
        flex-direction: column;
        grid-gap: 0;
    }

    .cloud-service-row .tab-container .tab-active {
        text-align: center;
    }

    .comon-chart-style {
        display: flex;
        justify-content: center;
    }

    .cloud-service-right-col .tab .primary-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .cloud-servers-about-boxs {
        padding: 35px 25px;
    }

    .build-your-servers {
        padding: 24px;
        margin-bottom: 250px;
    }

    .js-footer-clouds-image {
        width: 100vw;
    }

    .admin-cloud-servers-flex {
        grid-gap: 0;
    }

    .admin-cloud-servers-flex .admin-cloud-servers-col {
        width: 33.33%;
    }

    .admin-cloud-servers-col-2 {
        padding: 0 20px;
    }

    .cloud-servers-about-boxs h3 {
        font-size: 18px;
    }

    .quick-shortcuts-row {
        grid-gap: 10px;
    }

    .counter-progress-wrap .fill-circle {
        width: 160px;
    }

    .usage-statistics-col {
        padding: 0 10px;
    }

    .ticket-reopen-footer-wrap .welcome-user-content h4 {
        font-size: 16px;
    }

    .accept-invite-crad-box {
        padding: 50px 30px;
    }
    .login-form-box{
        max-width: 593px;
        padding: 41px 33px;
      }
}

@media (min-width: 1400px) {
    .cloud-servers-optimized h1 {
        font-size: 50px;
    }

    .choose-domain-content .manage-product-content-box-table {
        align-items: center;
        display: flex;
    }

    .admin-dashboard-boxes-wrap .admin-card-box:last-child {
        border-right: none;
    }

    .direction-rtl .admin-dashboard-boxes-wrap .admin-card-box:last-child {
        border-left: none;
    }
}

@media (max-width: 1439px) {
    :root {
        --dropdown-option-mt: 16px;
        --sidebar-width: 270px;
        --sidebar-xy-spacing: 20px;
    }

    .wrapper-dropdown {
        margin-bottom: 0px;
    }

    .selected-display {
        margin-left: 20px;
        margin-right: 24px;
    }

    .select-label {
        padding-bottom: 5px;
    }

    .wrapper-dropdown .dropdown {
        top: 100%;
    }

    .custom-checkbox .checkmark::after {
        left: 6px;
        top: 2px;
        width: 6px;
        height: 12px;
        border-width: 0 2px 2px 0;
        transform: rotate(51deg);
    }

    .wrapper-dropdown .dropdown li {
        padding: 6px 15px;
    }

    .wrapper-dropdown,
    .wrapper-dropdown .dropdown {

        font-size: 18px;
    }

    .admin-dashboard-services-detail-col.admin-form-group button {
        min-width: 80px;
        font-size: 14px;
    }

    .quick-shortcuts-row , .admin-services-boxes-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1360px) {
    .admin-dashboard-boxes-wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .user-management-box table thead th {
        padding: 13px 20px;
    }

    .user-management-box table tbody td {
        padding: 22px 20px;
    }

    .remove-btn {
        margin-left: 0px;
    }

    .product-addons-content .manage-product-content-box-table-tab-2,
    .backup-servers-content .manage-product-content-box-table-tab-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .domain-price-box {
        max-width: 200px;
        min-height: 200px;
    }
}

@media (max-width: 1279px) {
    .billing-overview-col {
        --billing-overview-col-width: 150px;
    }

    .d-block-xl {
        display: block !important;
    }

    .domain-required-box {
        padding: 42px 30px;
    }

    .unpaid-invoice-box button {
        padding: 9px 15px;
        width: 141px;
    }
}

@media (min-width: 991px) and (max-width: 1330px) {
    .js-pricing-plan-benefits-list {
        padding: 0px;
    }
}

@media (max-width: 1199px) {
    .admin-dashboard-services-card-wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .cloud-service-left-col .admin-dashboard-boxes-wrap,
    .upgrade-card-contain {
        grid-template-columns: repeat(2, 1fr);
    }

    .cloud-service-left-col .admin-card-box {
        padding: 15px;
    }

    .payment-method-btns {
        margin-top: 20px;
    }

    .cloud-servers-optimized-img {
        min-height: auto;
    }

    .build-your-servers {
        margin-bottom: 35%;
        flex-direction: column;
    }

    .admin-cloud-servers-flex .admin-cloud-servers-col {
        width: 50%;
    }

    .build-your-servers-avter {
        margin: 0 auto 30px;
    }

    .could-hero-image {
        text-align: center;
        margin-top: 40px;
    }

    .admin-cloud-servers-col-2 {
        padding: 0;
    }

    .js-footer-nav-title {
        margin-bottom: 10px;
    }

    .copy-right-msg {
        padding: 20px;
    }

    .build-your-servers-order-1 {
        order: 1;
    }

    .build-your-servers-order-2 {
        order: 2;
    }

    /* .modal-dialog {
        max-width: 500px;
        margin: auto;
        width: auto;
    } */
    .theme-btn {
        margin-left: 0;
    }

    .quick-shortcuts-row {
        grid-template-columns: repeat(3, 1fr);
    }

    .upgrade-card-btns {
        justify-content: unset;
        margin-top: 30px;
    }

    .support-ticket-repaly-head-wrap,
    .support-ticket-repaly-body-wrap {
        padding: 15px;
    }

    .support-ticket-repaly-wrap {
        margin-top: 20px;
    }

    .ticket-reopen-footer-wrap .welcome-admin-profile-wrap {
        margin: 25px 0 20px;
    }

    .admin-head {
        font-size: 16px;
    }

    .dropdown-menu {
        right: 0;
        left: auto;
    }

    .direction-rtl .dropdown-menu {
        left: 0;
        right: auto;
    }

    /*  #billingAddress .modal-content {
        overflow-y: scroll;
        overflow-x: hidden;
    } */
     .login-btns{
        flex-direction: column;
     }

     .login-btns     .theme-btn {
        width: 250px;
    }
}

@media (min-width: 992px) {
    .registration-form-data-wrap .divider {
        width: calc(100% + 60px);
        transform: translateX(-30px);
    }

    .direction-rtl .registration-form-data-wrap .divider {
        width: calc(100% + 60px);
        transform: translateX(30px);
    }

    .header-login-cloud-dropdown .dropdown li i,
    .header-login-cloud-dropdown .selected-display i {
        display: none;
    }

    .cloud-servers-content-padding {
        padding: 30px 50px;
        align-items: center;
    }

    .cloud-servers-content-padding .row {
        align-items: center;
    }

    .manage-firewall-firewall-content .billing-overview-col h5 {
        width: 422px;
        padding: 0px 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .admin-cloud-servers-col-2,
    .admin-cloud-servers-col-4 {
        padding: 0 0 0 20px;
    }

    #actioncard {
        top: 56% !important;
    }

    #actioncards1 {
        top: 75% !important;
    }
}

@media (max-width: 1023px) {

    .select-label {
        font-size: 12px;
    }

    .wrapper-dropdown,
    .wrapper-dropdown .dropdown {

        font-size: 14px;
    }

   

    .setting-description {
        border-radius: 10px;
    }

    .wrapper-dropdown.active .dropdown {
        border-radius: 10px;
    }

    .wrapper-dropdown .dropdown li:hover {
        border-radius: 6px;
    }

    .i-icon svg {
        width: 12px;
        height: 12px;
    }

    .sign-up-btn {
        font-size: 14px;
        padding: 6px 24px 8px 24px;
    }

    .custom-checkbox .checkmark {
        height: 18px;
        width: 18px;
    }

    .custom-checkbox .checkmark::after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
    }

    .custom-radio,
    .custom-checkbox .label-text {
        font-size: 14px;
    }

    .checkmark {
        top: 1px;
    }

    .checkbox-wrap,
    .custom-radio-group {
        grid-gap: 6px 0;
    }

    .user-management-box .form-control {
        width: 100%;
    }

    .change-password-btns {
        margin-top: 30px;
    }

    .payment-method {
        display: block !important;
    }

    .recent-news-content .admin-card-box {
        min-height: 500px;
    }

    .manage-product-content-box {
        display: block;
    }

    .register-domain-content .viwe--btn {
        margin: 10px 20px;
    }

    .domain-required-box {
        display: block;
    }
}

@media (max-width: 991px) {
    :root {
        --sidebar-width: 250px;
        --sidebar-xy-spacing: 10px;
        --admin-body-y: 25px;
        --admin-body-x: 25px;
    }

    .layout .sidebar .pro-sidebar-logo img {
        max-width: 150px;
    }

    .admin-header-option {
        padding-right: 20px;
    }

    .welcome-admin-profile-wrap {
        flex-direction: column;
        align-items: start;
    }

    .welcome-icons-box-wrap {
        margin: 15px 0 0;
    }

    .direction-rtl .welcome-icons-box-wrap {
        margin-left: auto;
        margin-right: unset;
    }

    .table-search-bar .search-bar-wrap input {
        min-width: auto;
    }

    .table-search-bar {
        margin-left: unset;
        width: 100%;
    }

    table {
        margin: 15px 0;
    }

    .table-footer-wrap {
        flex-direction: column;
    }

    .pagination-wrap {
        margin-left: unset;
        justify-content: center;
        margin-top: 15px;
    }

    .text-alinggn-center-lg {
        text-align: center;
    }

    .js-pricing-plan-card {
        max-width: 470px;
        margin: auto;
    }
    .direction-rtl .sidebar-toggler {
        left: 20px;
        right: unset;
    }
    .direction-rtl .admin-header-option {
        padding: 0 0 0 40px;
    }

    .js-footer .row>:nth-child(1) {
        order: 1;
    }

    .js-footer .row>:nth-child(2) {
        order: 3;
    }

    .js-footer .row>:nth-child(3) {
        order: 2;
    }

    .js-footer .row>:nth-child(4) {
        order: 4;
    }

    .build-your-servers h3 {
        font-size: 23px;
    }

    .build-your-servers p {
        font-size: 13px;
        line-height: 21px;
        padding: 6px 0px 17px 0px;
        letter-spacing: 1px;
    }

    .cloud-servers-optimized::before {
        height: 70%;
    }

    .admin-cloud-servers-flex .admin-cloud-servers-col,
    .usage-statistics-col {
        width: 100%;
    }

    .manage-product-content-box .remove-btn {
        margin: 10px 24px;
    }

    .manage-product-content-box-table-tab-2 {
        grid-template-columns: auto;
    }

    .usage-statistics-col:first-child {
        border-width: 0 0 2px 0;
        border-bottom: 2px solid #EBEEF0;
    }

    .usage-statistics-col {
        padding: 20px;
    }

    .support-ticket-repaly-body-row {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }

    .service-domain-box {
        display: block;
    }

    .domain-card {
        margin: 10px 0px;
    }

    .login-register-form {
        flex-direction: column;
    }

    #actioncards1 {
        top: 68% !important;
    }

    #actioncard {
        top: 50% !important;
    }
}

@media (max-width: 900px) {

    .product-addons-content .manage-product-content-box-table-tab-2,
    .backup-servers-content .manage-product-content-box-table-tab-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .unpaid-invoice-box {
        display: block;
    }

    .unpaid-invoice-box button {
        margin-top: 10px;
    }
}

@media (min-width: 767px) {
    .modal-dialog-style-one {
        width: 450px;
    }

    /*   #billingAddress .modal-content {
        width: 600px !important;
    } */
    .your-details-service-border{
        border-left: 1px solid #DADADA;
        border-right: 1px solid #DADADA;
        padding: 0px 30px;
        margin: 0px 30px;
      }

}

@media (max-width: 767px) {
    :root {
        --admin-header: 70px;
    }

    .registration-form-box,
    .registration-form-data-wrap.registration-form-box {
        padding: 30px;
    }

    .registration-form-box h3 {
        font-size: 24px;
    }

    .form-step .divider {
        margin-top: 20px;
    }

    .step-next-prev-btn-wrap button.navigate-prev-btn {
        top: 30px;
        left: 30px;
    }

    .admin-body-content {
        height: auto;
        overflow-y: unset;
    }

    .admin-header {
        position: sticky;
        top: 0;
        z-index: 1001;
    }

    .header-login-cloud-dropdown .dropdown li span,
    .header-login-cloud-dropdown .selected-display span {
        display: none;
    }

    .custom-input.header-login-cloud-dropdown .selected-display {
        line-height: 0;
        margin-right: 15px;
    }

    .custom-input.header-login-cloud-dropdown .dropdown li {
        text-align: center;
    }

    .settings-email {
        margin-bottom: 5rem;
    }

    .cloud-servers-optimized h1 {
        font-size: 37px;
    }

    .cloud-servers-content-paddding {
        padding: 15px 25px;
    }

    .cloud-servers-optimized p {
        font-size: 15px;
    }

    .build-your-servers .primary-btn {
        margin: auto;
    }

    .admin-header h4 {
        display: none;
        font-size: 14px;
    }

    .sign-up-btn,
    .primary-btn {
        font-size: 14px;
        padding: 10px;
    }

    .small-btn {
        min-height: 25px;
    }

    #billingAddress .modal-dialog {
        width: calc(100% - 10%);
    }

    .choose-domain-content .your-details-card-form {
        padding: 10px 0px 30px;
        max-width: 80%;
    }

    .enter-promo-code {
        display: block;
    }

    .enter-promo-code input {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .admin-services-boxes-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pricing-manage{
        flex-wrap: wrap;
    }
    .registration-input-form {
        padding: 0px 20px;
    }
    .step-footer-wrap {
        flex-direction: column;
    }
    .your-details-service {
       display: block;
      }
      .your-details-service-border{
        margin: 20px 0px;
      }
      .your-details-service {
        margin-top: 20px;
      }
      .registration-input-form h6{
        order: 2;
      }
      .registration-input-form .login-btns{
        order: 1;
      }
      .registration-input-form .login-btns .secure-client-btn{
        order: 2;
      }
      .registration-input-form .login-btns .theme-btn-active{
        order: 1;
      }
}

@media (min-width: 576px) and (max-width: 767px) {
    .col-sm-6 {
        width: 50%;
    }

    #billingAddress .modal-content {
        width: 481px !important;
    }
}

@media (min-width: 576px) {
    .checkbox-radio-wrap .custom-radio-group {
        margin-left: 30px;
    }

    .admin-dashboard-services-detail-col.admin-form-group.cc-recipients-field-wrap input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .admin-dashboard-services-detail-col.admin-form-group.cc-recipients-field-wrap button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .direction-rtl .admin-dashboard-services-detail-col.admin-form-group.cc-recipients-field-wrap input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .direction-rtl .admin-dashboard-services-detail-col.admin-form-group.cc-recipients-field-wrap button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .temporary-ip-tab .your-details-card-form {
        padding: 0px 40px;
    }

    .choose-domain-content .manage-product-content-box-table {
        padding: 30px 33px 30px;
    }

}

@media (max-width: 575px) {
    :root {
        --admin-body-y: 15px;
        --admin-body-x: 12px;
    }

    .col-12 {
        width: 100%;
    }

    .checkbox-wrap,
    .custom-radio-group {
        margin-left: 20px;
    }

    .or-line-text {
        margin: 0 0 24px;
    }

    a.secure-client-btn {
        margin-bottom: 24px;
    }

    .remember-forgot-pass-text {
        margin-bottom: 30px;
    }

    .registration-form-data-wrap.registration-form-box {
        padding: 30px 15px;
    }

    a.secure-client-btn , .theme-btn{
        font-size: 14px;
    }

    .step-next-prev-btn-wrap {
        justify-content: center;
    }

    .registration-form-wrap ul.form-stepper li a .form-stepper-circle {
        width: 30px;
        height: 30px;
    }

    .registration-form-wrap ul.form-stepper .form-stepper-circle span {
        font-size: 14px;
    }

    .quick-email-acc-wrap input:first-child {
        border-radius: 8px 0 0 8px;
    }

    .quick-email-acc-wrap input:last-child {
        border-radius: 0 8px 8px 0;
    }

    .registration-form-wrap .form-stepper-horizontal li:not(:last-child):after {
        left: 45px;
        top: 20%;
    }

    .form-row,
    .admin-dashboard-boxes-wrap {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }

    .quick-shortcuts-row,
    .options-tab .form-row,
    .upgrade-card-contain {
        grid-template-columns: repeat(2, 1fr);
    }

    .upgrade-card-contain {
        grid-template-columns: repeat(1, 1fr);
    }

    .upgrade-card-contain {
        grid-template-columns: repeat(1, 1fr);
    }

    .step-next-prev-btn-wrap button.navigate-prev-btn {
        top: 30px;
        left: 15px;
    }
    .layout .footer {
        padding-top: 0;
    }

    .admin-dashboard-services-detail-col {
        flex-direction: column;
        align-items: start;
    }

    .admin-dashboard-services-details {
        flex-wrap: wrap;
    }
    
    .rmb-0{
        margin-bottom: 0;
    }
    .r-justify-space{
        justify-content: space-between;
        flex-direction: row;
    }
    .d-xs-block{
        display: block;
    }
    .mb-xs-10{
        margin-bottom: 10px;
    }
    /* .admin-dashboard-services-details .sign-up-btn {
        margin: 15px 0 0;
    } */
    .admin-dashboard-boxes-wrap .admin-card-box {
        border: none !important;
    }

    .notification-dropbox-wrap {
        min-width: calc(430px - 100px);
    }

    .admin-dashboard-services-detail-col {
        grid-gap: 0;
    }

    .welcome-user-content h4 {
        font-size: 18px;
    }

    .welcome-user-profile {
        width: 60px;
        height: 60px;
    }

    .admin-body-content .admin-head {
        margin-bottom: 20px;
    }

    .admin-header {
        padding: 12px 15px;
    }

    .admin-header-option {
        padding-right: 40px;
    }

    .notification-dropbox-wrap {
        min-width: 350px;
    }

    .gap-1 {
        grid-gap: 5px;
    }

    .gap-2 {
        grid-gap: 10px;
    }

    .notification-dropbox-wrap ul li a {
        padding: 14px 0;
    }


    .direction-rtl .notifications-msg-dropbox-wrap.notification-dropbox-wrap {
        left: -70px;
        right: unset;
    }

    .direction-rtl .notifications-msg-dropbox-wrap.notification-dropbox-wrap .arrow-up {
        left: 72px;
        right: unset;
    }

    .direction-rtl .notification-dropbox-wrap {
        left: -10px;
    }

    .direction-rtl .notification-dropbox-wrap.top-extra-dropdown .arrow-up {
        left: 24px;
    }

    .account-details-form-btn {
        display: block !important;
    }

    .w-xs-100 {
        width: 100%;
    }

    .email-preferences {
        padding: 20px 40px;
    }

    .pr-xs-0 {
        padding-right: 0px;
    }

    .modal-content {
        padding: 40px 20px 40px;
        border-radius: 25px;
    }

    .build-your-servers {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .build-your-servers p {
        padding: 24px 0px 29px 0px;
    }

    .video-play-btn .video {
        padding: 14px 16px;
    }

    .order-1 {
        order: 0;
    }

    .order-2 {
        order: 1;
    }

    .order-3 {
        order: 2;
    }

    .cloud-servers-optimized::before {
        height: 80%;
    }

    .cloud-servers-optimized p {
        padding: 0 0px 18px;
    }

    .model-hr {
        margin: 20px 0px;
    }

    .personal-hosting-plan-icon {
        width: 50px;
        height: 50px;
    }

    .additional-information-row h5 {
        padding-left: 10px;
    }

    .admin-dashboard-services-detail-col input {
        margin-bottom: 15px;
    }

    .admin-card-box {
        padding: 11px 15px;
    }

    .manage-firewall-firewall-content .billing-overview-row {
        margin: 52px 0px 0px;
    }

    .open-ticket-content .admin-card-box {
        padding: 41px 24px;
    }

    .billingaddress-form {
        height: 210px;
    }

    .review-checkout .your-details-card-form .primary-btn,
    .register-domain-content .your-details-card-form .primary-btn {
        margin-top: 10px;
    }

    .bill-form-data {
        max-height: 300px;
    }

    .my-services-dropdown {
        min-width: auto;
        width: 100%;
        max-width: none;
    }

    .my-domains-body-content .table-search-bar .search-bar-wrap input,
    .my-domains-body-content .table-search-bar .search-bar-wrap {
        width: 100%;
        max-width: none;
    }

    .setting-card-box .arrow-up {
        left: auto;
        right: 30px !important;
    }

    .my-domains-body-content .setting-card-box {
        right: 0px !important;
        left: auto;
    }

    .search-bar-box {
        margin-top: 15px;
    }

    .manage-nameservers .renew-domain-btn {
        width: max-content;
        padding: 14px 30px;
    }

    .back-up-servers-card {
        background-color: var(--primary-theme);
        padding: 45px 25px;
    }

    .checkout-content .card-ghost-style {
        padding: 20px !important;
    }

    .year-renewal {
        gap: 10px;
    }

    .chosse-domain-required {
        padding: 0px 10px;
    }

    .quick-actions-box ul {
        padding: 35px 15px;
    }

    .quick-actions-box ul li a {
        width: 122px;
        height: 93.2px;
    }

    .unpaid-invoice-box div {
        display: block;
    }

    .domain-points .theme-btn {
        padding: 14px;
    }

    .temporary-ip-tab .your-details-card-form {
        padding: 0px;
    }

    .new-password-rules {
        padding: 0px;
    }

    .auto-renew .register-domain-unavailable-crad-box .account-security-crad-box {
        padding: 19px 16px;
    }

    .my-domains-body-content .table-search-bar,
    .my-domains-body-content .showing-entries {
        display: block;
    }

    #actioncard {
        top: 55% !important;
        right: 10px;
    }

    #actioncards1 {
        top: 71% !important;
        right: 10px;
    }

    /*dashboard version 2*/
    .admin-main-wrap .language-select-wrap .selected-display span,
    .admin-main-wrap .language-select-wrap .dropdown li span,
    .admin-main-wrap .admin-header-option .profile-item span ,
    .registration-form-box .language-select-wrap .selected-display span,
    .registration-form-box .language-select-wrap .dropdown li span{
        display: none;
    }
    .country-dropdown-menu .selected-display{
        margin-right: 20px;
    }
    .notifications-msg-dropbox-wrap {
        right: -120px !important;
        transform: translate(18px , 5%) !important;
      }
      .notification-dropbox-wrap {
        transform: translate(53px, 5%);
    }
}

@media (max-width: 480px) {

    .checkbox-wrap,
    .custom-radio-group {
        grid-gap: 15px 0;
    }

    .map-img {
        display: block;
    }

    .checkbox-radio-wrap {
        flex-direction: column;
    }

    .checkbox-wrap,
    .custom-radio-group {
        flex-direction: row;
        grid-gap: 20px;
    }

    .custom-radio-group {
        grid-gap: 40px;
    }

    .checkbox-radio-wrap {
        gap: 20px;
    }

    .custom-checkbox {
        padding-left: 25px;
    }

    .checkmark {
        left: -24px;
    }

    .custom-radio {
        margin-left: 25px;
    }

    .checkbox-wrap,
    .custom-radio-group {
        margin-left: 0;
    }

    .login-btns .theme-btn{
        padding: 9px;
    }

    .auth-logo {
        max-width: 120px;
    }

    .choose-permissions {
        padding: 33px 35px 14px;
    }

    .terms-service-crad-box {
        padding: 15px 16px;
    }

    .admin-card-box-style1 {
        padding: 20px 20px !important;
        margin: 20px 0px;
    }

    .manage-product-content-box div {
        display: block;
    }

    .manage-product-content-box .remove-btn {
        margin: 10px 0px;
    }

    .manage-product-content-box-icon {
        margin: 0px;
    }

    .manage-product-content-box-table .tab-container .tab-menu ul li a {
        padding: 5px 2px;
    }

    .manage-product-content-box div,
    .manage-product-content-box h3 {
        display: block;
    }

    .manage-product-content-box button,
    .manage-product-content-box-icon {
        margin: 0px;
    }

    .manage-product-content-box-icon {
        padding: 10px 20px;
    }

    .manage-product-content-box-icon svg {
        width: 20px;
    }

    .review-checkout-card-box-col .span-box {
        padding: 9px 18px;
    }

    .display-block-xs {
        display: block;
    }

    .register-domain-content .viwe--btn {
        margin: 10px 0px;
    }

    .manage-nameservers-domain-box {
        padding: 25px 15px;
    }

    .table-search-bar {
        flex-wrap: wrap;
        gap: 10px;
    }

    .arrow {
        margin-right: 0px
    }

    .admin-header .profile-item {
        padding-right: 18px;
    }
    .services-heading{
        display: block;
    }
    .registration-input-form  , .login-form{
        padding: 0px ;
    }
}

@media (max-width: 399px) {
    .notification-dropbox-wrap {
        min-width: 330px;
    }

    .d-block399px {
        display: block;
    }

    .billing-overview-col {
        --billing-overview-col-width: 100px;
    }

    .card-ghost-style {
        padding: 13px 13px;
    }
    .theme-btn {
        width: 100%;
    }
    .notification-dropbox-wrap{
        right: 0;
    }
    .delete-btn{
        width: 100% !important;
    }
    .contect-btn input{
        margin-right: 0;
    }
    .login-form {
        padding: 0px;
    }
    .remember-forgot-pass-text {
        grid-gap: 11px;
    }
    .registration-form-box h6 {
       display: block;
    }
    .auth-logo {
        margin: 0;
    }
}

@media (max-width: 360px) {
    .custom-input.header-login-cloud-dropdown {
        padding: 5px 15px 5px 4px;
    }

    .custom-input.header-login-cloud-dropdown .arrow {
        margin-left: 0px;
        margin-right: 0px;
    }

    .admin-header .country-dropdown-menu .selected-display {
        margin-right: 15px;
        margin-left: 10px;
    }

    .admin-header .wrapper-dropdown .dropdown li {
        padding: 6px 5px;
    }

    .quick-shortcuts-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .personal-hosting-plan-flex {
        flex-direction: column;
    }
    .admin-dashboard-services-card-wrap{
        display: block;
    }
    .your-details-card-box .admin-dashboard-services-head{
        flex-direction: column;
        align-items: start;
    }
    .admin-dashboard-services-card-wrap .admin-dashboard-services-head, .admin-dashboard-services-card-wrap .admin-dashboard-services-details{
        word-break: break-all
    }
    
}

@media (max-width: 349px) {
    .registration-form-box {
        padding: 30px 15px;
    }

    .registration-form-wrap .form-stepper-horizontal li {
        padding: 0 40px;
    }

    .notification-dropbox-wrap {
        min-width: 270px;
    }

    .manage-product-content-box-table-tab {
        padding: 28px 19px;
    }
}

/* Responsive end */